<!-- Modal -->
<% if current_user %>
  <% @todos.where(user: current_user).each do |todo| %>
    <div class="modal fade" id="modal-<%= todo.id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle"><%= todo.task %></h5>
          </div>
          <div class="modal-body">
            <ul class="todomodal-comments">
              <% todo.comments.each do |comment| %>
                <li>
                  <p>
                    <span class="todomodal-comment-time"><%= comment.created_at.strftime('%e %b %Y') %>: </span>
                    <span class="todomodal-comment-content"><%= comment.content %></span>
                  </p>
                </li>
              <% end %>
              <li>
                <%= form_for Comment.new do |f| %>
                  <div class="form-group">
                    <%= f.text_field :content, placeholder: "Drop a comment here", class: 'form-control' %>
                  </div>
                    <%= f.hidden_field :todo_id, value: todo.id %>
                    <%= f.hidden_field :user_id, value: current_user.id %>

                  <div class="form-group">
                      <%= f.submit "Post comment", class: "btn btn-custom" %>
                  </div>
                <% end %>
              </li>
            </ul>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-custom" data-dismiss="modal">Close comments</button>
          </div>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
