<h1 class="todos-main-header">Your Whatodos</h1>
<h3 class="todos-greeting-header">Hey <%= current_user.email.split('@').first %>, what do you want to accomplish today?</h3>
<button type="button" class="btn btn-custom-large" data-toggle="modal" data-target="#exampleModal">Create whattodo</button>

<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Check!</th>
      <th scope="col">Task</th>
      <th scope="col">Priority</th>
      <th scope="col">Deadline</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <% i = 1 %>
    <% @todos.where(user: current_user).each do |todo| %>
      <% if current_user == todo.user %>
        <tr>
          <th scope="row"><%= i %></th>
          <td>
          <%= form_for todo do |f| %>
            <%= f.hidden_field :done, value: !todo.done %>
            <%= f.submit (todo.done ? "✔︎" : "✘"), { :class => 'pretty p-bigger'} %>
          <% end %>
          </td>
          <td>
            <%= todo.task %>
            <i class="far fa-comment-alt" data-toggle="modal" data-target="#modal-<%= todo.id %>"></i>
          </td>
          <td><%= todo.priority %></td>
          <td><%= todo.deadline.strftime('%d %B %Y') %></td>
          <td>
            <%= link_to todo_path(todo), method: 'delete', class: "delete_todo"  do %>
              <i class="far fa-trash-alt"></i>
            <% end %>
          </td>
        </tr>
      <% end %>
    <% i += 1 %>
    <% end %>
  </tbody>
</table>

